[submodule "nvim"]
	path = nvim
	url = https://github.com/keks137/nvim-config
[submodule "hypr"]
	path = hypr
	url = https://github.com/keks137/hyprdot.git

[submodule "alacritty-theme"]
	path = alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
